<ActionBar title="Calendar" class="action-bar">
	<Button [nsRouterLink]="['/home']" text="Charts"></Button>
	<!-- <Button (tab)="onNavigationButtonTap()" text="Charts"></Button> -->
	<!-- <NavigationButton text="Back0000000000" (tap)="onNavigationButtonTap()"></NavigationButton> -->
</ActionBar>

<StackLayout>
	<Label [text]="startDate"></Label>
	<Label [text]="endDate"></Label>
	<RadCalendar #calendar height="50%" [selectionMode]="selectionMode" [eventSource]="eventSource" (dateSelected)="onDateSelected($event)"></RadCalendar>

</StackLayout>